In [5]:
# Charts Interface
from bokeh.charts import Scatter, show, output_file
import pandas

In [4]:
# Create DataFrame
df = pandas.DataFrame(columns=["X","Y"])
df["X"] = [1,2,3,4,5,6,7,8,9,10]
df["Y"] = [-100,0,100,300,200,300,100,500,200,100]
df

    X    Y
0   1 -100
1   2    0
2   3  100
3   4  300
4   5  200
5   6  300
6   7  100
7   8  500
8   9  200
9  10  100

In [6]:
# Create Scatter Object
ch = Scatter(df,x="X",y="Y",xlabel="Age(Years)",ylabel="Returns",title="Investment OverView")
output_file("scatter_chart.html")
show(ch)